@import "tailwindcss";

:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:rgb(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Add smooth scrolling behavior */
html {
	scroll-behavior: smooth;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
	width: 0;  /* Hide scrollbar */
  }
  
  /* Firefox */
  * {
	scrollbar-width: none;  /* Hide scrollbar */
	scrollbar-color: transparent transparent;  /* Transparent scrollbar */
  }
  
  /* Section padding for smooth scrolling */
  .section {
	padding-top: 80px; /* Adjust this value as needed */
	scroll-margin-top: 80px; /* Adjust this value as needed */
  }

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


@font-face {
	font-family: 'Minecraft';
	src: url('./assets/font/minecraft-title.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
	font-family: 'Minecraft-light';
	src: url('./assets/font/MinecraftRegular-Bmg3.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
	font-family: 'Minecraft-bold';
	src: url('./assets/font/MinecraftBold-nMK1.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }

  .edge-bottom-white{z-index:10}[class*=edge-bottom]
  .edge-bottom-white:before{background-size:1268px 130px;height:130px;transform:none}